<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@100&display=swap" rel="stylesheet">

.root {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    align-items: center;
}

.bg {
    background-image: linear-gradient(-30deg, #2E9AFF, #f8eabc);
}

*{
    color: #020202;
    font-family: Calibri, sans-serif;
    font-weight: 800;
    font-size: large;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 100vh;
    justify-content: stretch;
    margin: 2%;
}

.section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-content: space-around;
    align-items: center;
    justify-items: start;
}