*{
    font-family: Roboto, Arial, sans-serif;
    font-size: 1rem;
    line-height: 0.1rem;
}

.wrapper,
.header,
.main {
    display: flex;
    flex-direction: column;
    height: auto;
}

.wrapper {
    align-items: center;
    width: 98%;
    padding: 0.5rem;
}

.header {
    align-items: flex-start;
    width: 100%;
}

.header__title {
    margin: 2rem 0 3rem;
    font-size: 1.8rem;
    font-weight: 600;
}

.main {
    align-items: flex-start;
    width: 100%;
}

.main__item {
    display: grid;
    direction: row;
    align-items: center;
    grid-template-areas:
    "img cont price";
    grid-template-columns: 1fr 70% 1fr;
    width: 100%;
    height: auto;
    border: 1px solid black;
}

.main__img,
.main__content,
.main__price {
    display: grid;
    direction: column;
    align-items: center;
}

.main__img {
    grid-area: img;
}

.main__content {
    grid-area: cont;
}

.main__title {
    display: grid;
    direction: column;
    font-size: 1.1rem;
}

.main__text--subdominant {
    color: grey;
}

.main__price {
    grid-area: price;
    justify-items: end;
    padding: 1rem;
}

.main__text--accent {
    font-weight: 550;
    color: rgb(227, 91, 12);
}

.footer,
.button,
.button-wrapper,
.footer__text,
.img {
    display: flex;
    flex-direction: row;
}

.footer {
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.button-wrapper {
    justify-content: flex-start;
    width: 15%;
    height: auto;
}

.button {
    justify-content: center;
    align-items: center;
    margin: 2rem 0 2rem;
    background-color: black;
    color: white;
    height: 3rem;
    width: 100%;
    border: 0px;
    cursor: pointer;
}

.footer__text {
    justify-content: flex-end;
    font-size: 1.6rem;
    font-weight: 600;
    margin-top: 3rem;
}

.footer__text--accent {
    font-size: 1.4rem;
    font-weight: 600;
    color: rgb(227, 91, 12);
}

.img {
    justify-self: center;
    width: 7rem;
    height: auto;
    align-self: center;
}