*{
  text-align: center;
  font-size: 100%;
  font-weight: 600;
}

.header {
  grid-area: hd;
  background-color: rgb(150, 150, 150);
  justify-content: center;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: minmax(100px, auto);
  gap: 0rem;
  grid-template-areas: 
    "hd hd hd hd hd hd hd hd"
    "mn mn mn mn mn mn sd sd"
    "mn mn mn mn mn mn sd sd"
    "mn mn mn mn mn mn sd sd"
    "ft ft ft ft ft ft ft ft";
}

.main-wrapper {
  display: grid;
  grid-area: mn;
  align-content: end;
  justify-content: center;
  min-height: 30vh;
  background-color: rgb(242, 245, 247);
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax(100px, auto);
  gap: 1rem;
  grid-template-areas: 
  "c0 c0 c0 c0 c0 c0 sd sd"
  "c1 c1 c1 c2 c2 c2 sd sd"
  "c3 c3 c3 c3 c3 c3 sd sd";
}

.container0 {
  grid-area: c0;
  background-color: rgb(243, 246, 248);
}

.container1, .container2, .container3 {
  grid-area: c0;
  background-color: rgb(247, 243, 188);
}

.container1 {
  grid-area: c1;

  margin-left: 1rem;
}
.container2 {
  grid-area: c2;
}
.container3 {
  grid-area: c3;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.footer-wrapper {
  display: grid;
  grid-area: ft;
  align-items: center;
  background-color: rgb(150, 150, 150);
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: minmax(100px, auto);
  gap: 0rem;
  grid-template-areas: 
    "f1 f1 f2 f2 f3 f3 f4 f4";
  padding: 0.01%;
}

.sidebar {
  grid-area: sd;
  background-color: rgb(206, 248, 182);
  width: 33vw;
}

.footer1 {
  grid-area: f1;
  background-color: rgb(220, 220, 220);
  height: 80%;
  width: 90%;
  justify-self: center;
  margin-left: 1vw;
  margin-top: 1%;
}

.footer2 {
  grid-area: f2;
  background-color: rgb(220, 220, 220);
  height: 80%;
  width: 90%;
  justify-self: center;
  margin-top: 1%;
}

.footer3 {
  grid-area: f3;
  background-color: rgb(220, 220, 220);
  height: 80%;
  width: 90%;
  justify-self: center;
  margin-top: 1%;
}

.footer4 {
  grid-area: f4;
  background-color: rgb(220, 220, 220);
  height: 80%;
  width: 90%;
  justify-self: end;
  margin-right: 1vw;
  margin-top: 1%;
}



/* Adative - Tablet 768-991 */

@media screen and (min-width: 768px) and (max-width: 991px) {
  *{
    text-align: center;
    font-size: 100%;
    font-weight: 600;
  }
  
  .header {
    grid-area: hd;
    background-color: rgb(150, 150, 150);
    justify-content: center;
  }
  
  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(auto);
    grid-template-areas: 
      "hd hd"
      "mn mn"
      "mn mn"
      "mn mn"
      "sd sd"
      "sd sd"
      "sd sd"
      "ft ft"
      "ft ft";
  }
  
  .main-wrapper {
    display: grid;
    grid-area: mn;
    align-content: end;
    justify-content: start;
    min-height: 30vh;
    background-color: rgb(242, 245, 247);
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(auto, 100px);
    grid-template-areas: 
    "c0 c0 c0 c0"
    "c1 c1 c2 c2"
    "c3 c3 c3 c3"; 
  }
  
  .container0 {
    grid-area: c0;
    background-color: rgb(243, 246, 248);
  }
  
  .container1, .container2 ,.container3 { 
    background-color: rgb(247, 243, 188);
    margin-left: 0rem; 
  } 

  .container1 {
    grid-area: c1;
  }

  .container2 {
    grid-area: c2;
  }

  .container3 {
    grid-area: c3;
  }
  
  .sidebar {
    grid-area: sd;
    background-color: rgb(206, 248, 182);
    width: 100%;
  }  

  .footer-wrapper {
    display: grid;
    grid-area: ft;
    align-items: center;
    background-color: rgb(150, 150, 150);
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(auto-fit, minmax(1fr));
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(auto, 100px);
    grid-template-areas: 
      "f1 f1 f2 f2"
      "f3 f3 f4 f4";
    padding: 0.01%;
  }
  
  .footer1, .footer2, .footer3, .footer4 {
    height: 80%;
    width: 90%;
    justify-self: center;
    margin-top: 1%;
    background-color: rgb(220, 220, 220);
  }

  .footer1 {
    grid-area: f1;

  }
  
  .footer2 {
    grid-area: f2;
  }
  
  .footer3 {
    grid-area: f3;
  }
  
  .footer4 {
    grid-area: f4;
  }
}



/* Adative - Mobile 249-767 */

@media screen and (min-width: 249px) and (max-width: 767px) {
  *{
    text-align: center;
    font-size: 100%;
    font-weight: 600;
  }
  
  .header {
    grid-area: hd;
    background-color: rgb(150, 150, 150);
    justify-content: center;
  }
  
  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(auto);
    grid-template-areas: 
      "hd hd"
      "mn mn"
      "sd sd"
      "sd sd"
      "ft ft"
      "ft ft";
  }
  
  .main-wrapper {
    display: grid;
    grid-area: mn;
    align-content: end;
    justify-content: start;
    min-height: 30vh;
    background-color: rgb(242, 245, 247);
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(auto, 100px);
    grid-template-areas: 
    "c0 c0"  
    "c0 c0"
    "c1 c1"
    "c2 c2"
    "c3 c3"
    "c3 c3"; 
  }
  
  .container0 {
    grid-area: c0;
    background-color: rgb(243, 246, 248);
  }
  
  .container1, .container2 ,.container3 { 
    background-color: rgb(247, 243, 188);
    margin-left: 0rem; 
  } 

  .container1 {
    grid-area: c1;
  }

  .container2 {
    grid-area: c2;
  }

  .container3 {
    grid-area: c3;
  }
  
  .sidebar {
    grid-area: sd;
    background-color: rgb(206, 248, 182);
    width: 100%;
  }  

  .footer-wrapper {
    display: grid;
    grid-area: ft;
    align-items: center;
    background-color: rgb(150, 150, 150);
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(auto-fit, minmax(1fr));
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(auto, 100px);
    grid-template-areas: 
      "f1 f1"
      "f2 f2"
      "f3 f3"
      "f4 f4";
    padding: 0.01%;
  }
  
  .footer1, .footer2, .footer3, .footer4 {
    height: 80%;
    width: 90%;
    justify-self: center;
    margin-top: 1%;
    background-color: rgb(220, 220, 220);
  }

  .footer1 {
    grid-area: f1;
  }
  
  .footer2 {
    grid-area: f2;
  }
  
  .footer3 {
    grid-area: f3;
  }
  
  
  .footer4 {
    grid-area: f4;
  }
}